/public/src/statistics/durak/durak.html
/public/src/statistics/ultimate/ultimate.html
/public/src/statistics/durak/durak.csv
.idea

/public/src/statistics/stock_trading_analysis/
!public/src/statistics/stock_trading_analysis/stock_trading_analysis.html
!public/src/statistics/stock_trading_analysis/stock_trading_analysis.Rmd

/vendor/
