.logo {
    height: 75px;
}
body {
    background: #636fa4;
    background: -webkit-linear-gradient(to right, #636fa4, #afafaf);
    background: linear-gradient(to right, #636fa4, #afafaf);
    min-height: 100vh;
}
.durak-app-container {
    margin-top: 50px;
}
.table-hover>tbody>tr:hover {
    background-color: #ffffff; /* Assuming you want the hover color to be white */
}

.settings-item {
    margin-top: 15px;
    margin-bottom: 15px;
}